SUBSYSTEM=="tty",ENV{ID_SERIAL_SHORT}=="DQ01K7UO",SYMLINK+="tty-2d1",MODE="0666"
SUBSYSTEM=="tty",ENV{ID_SERIAL_SHORT}=="DQ01KCDT",SYMLINK+="tty-2d2",MODE="0666"
SUBSYSTEM=="tty",ENV{ID_SERIAL_SHORT}=="DQ01KO5Y",SYMLINK+="tty-2d3",MODE="0666"
SUBSYSTEM=="tty",ENV{ID_SERIAL_SHORT}=="DQ01KB9B",SYMLINK+="tty-2d4",MODE="0666"
